In [142]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [170]:
res = requests.get('https://www.theguardian.com/us-news?page=1900')
soup_data = BeautifulSoup(res.text, 'html.parser')
#soup_data.find_all(class_='u-faux-block-link__overlay js-headline-text')

In [172]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:20.0) Gecko/20100101 Firefox/20.0'}

guardian_title = []
guardian_timestamp = []

for page in range(1,1901):
    res = requests.get(f'https://www.theguardian.com/us-news?page={page}', headers = headers)
    each_page = BeautifulSoup(res.text, 'html.parser')
    title = each_page.find_all(class_='u-faux-block-link__overlay js-headline-text')
    timestamp = each_page.find_all(class_ = "fc-item__timestamp") 
    
    all_titles=[]
    for e in title:
        all_titles.append(e.get_text())
    
    all_timestamps=[]
    for t in timestamp:
        all_timestamps.append(int(t['data-timestamp']))
        all_timestamps = all_timestamps[:len(all_titles)]
    
    guardian_title.append(all_titles)
    guardian_timestamp.append(all_timestamps)

In [176]:
t_df = pd.DataFrame(np.transpose(guardian_title))
title_df = pd.concat([t_df, t_df.T.stack().reset_index(name='title')['title']], axis=1)
title_df = title_df['title']
title_df = pd.DataFrame(title_df)
title_df

                                                   title
0      US election live: Biden and Trump virtually ti...
1      Coronavirus live news: US breaks new cases rec...
2      Donald Trump's election results speech: all th...
3      Employers and co-workers want Black women's ex...
4      'Fox News sucks!': Trump supporters decry chan...
...                                                  ...
37995  Donald Trump loves NY … but New York refuses t...
37996  Meet the Democrat who wants to be America's fi...
37997  Donald Trump tells Duterte: 'You're doing a gr...
37998  Melania Trump favourites tweet sparking intrig...
37999  Hillary Clinton: I'm to blame for election los...

[38000 rows x 1 columns]

In [184]:
t_df = pd.DataFrame(np.transpose(guardian_timestamp))
time_df = pd.concat([t_df, t_df.T.stack().reset_index(name='timestamp')['timestamp']], axis=1)
time_df = time_df['timestamp'].astype(str)
time_df = pd.DataFrame(time_df)
time_df

           timestamp
0      1604644693000
1      1604643526000
2      1604643409000
3      1604642404000
4      1604642403000
...              ...
37995  1493797617000
37996  1493794823000
37997  1493794823000
37998  1493793167000
37999  1493792706000

[38000 rows x 1 columns]

In [213]:
guardian = pd.concat([title_df, time_df], axis=1)

guardian['date'] = 0
for i in range(len(guardian['timestamp'])):
    guardian['timestamp'][i] = guardian['timestamp'][i][:-3]
    guardian['date'][i] = datetime.fromtimestamp(int(guardian['timestamp'][i])).strftime("%m-%d-%Y")

guardian['source'] = 'guardian'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [216]:
guardian.to_csv('Guardian 2017 to 2020.csv', index = False)

In [220]:
guardian

,title,timestamp,date,source
0,US election live: Biden and Trump virtually ti...,1604644693,11-06-2020,guardian
1,Coronavirus live news: US breaks new cases rec...,1604643526,11-06-2020,guardian
2,Donald Trump's election results speech: all th...,1604643409,11-06-2020,guardian
3,Employers and co-workers want Black women's ex...,1604642404,11-06-2020,guardian
4,'Fox News sucks!': Trump supporters decry chan...,1604642403,11-06-2020,guardian
...,...,...,...,...
37995,Donald Trump loves NY … but New York refuses t...,1493797617,05-03-2017,guardian
37996,Meet the Democrat who wants to be America's fi...,1493794823,05-03-2017,guardian
37997,Donald Trump tells Duterte: 'You're doing a gr...,1493794823,05-03-2017,guardian
37998,Melania Trump favourites tweet sparking intrig...,1493793167,05-03-2017,guardian
37999,Hillary Clinton: I'm to blame for election los...,1493792706,05-03-2017,guardian

In [105]:
nyt = requests.get('https://www.nytimes.com/search?dropmab=true&endDate=20201101&query=archives&sort=best&startDate=20160101')
nyt_data = BeautifulSoup(nyt.text, 'html.parser')

In [120]:
a =nyt_data.find_all(class_ = 'css-2fgx4k')
for e in a:
    print(str(e))

<h4 class="css-2fgx4k">The Improbable, Slightly Surreal Plan to Save Fashion’s Printed Matter</h4>
<h4 class="css-2fgx4k">Library of Congress Acquires Archives of the National Woman’s Party</h4>
<h4 class="css-2fgx4k">Remarkable Records of Joni Mitchell’s Changes</h4>
<h4 class="css-2fgx4k">How New York’s Small Cinemas Are Hanging On</h4>
<h4 class="css-2fgx4k">New Spirits Rise in Old, Repurposed Churches</h4>
<h4 class="css-2fgx4k">A Brief History of Questionable Parenting Advice</h4>
<h4 class="css-2fgx4k">Yes, Books Were Bound in Human Skin. An Intrepid Librarian Finds the Proof.</h4>
<h4 class="css-2fgx4k">Need an Essential Chronicler of America? Try This Nonfiction Master</h4>
<h4 class="css-2fgx4k">See the Black Art Remaking Our Culture</h4>
<h4 class="css-2fgx4k">The First Photos of Enslaved People Raise Many Questions About the Ethics of Viewing</h4>